################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CsvParser
/CsvFramework/bin/Debug/netstandard2.0
/CsvFramework/obj
/CsvParser.Test/bin/Debug/netcoreapp2.2
/CsvParser.Test/obj
/CvsParser/bin/Debug/netcoreapp2.2
/CvsParser/obj
